<%# <h1>Abagods be praised!</h2> %>
<%= link_to 'Abacus Resources', controller: 'articles' %>

<h2>Abacus Masternode Stats:</h2>

 <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Masternode Coin</th>
              <th>ROI</th>
              <th>Total</th>
              <th>Stable</th>
              <th>Enabled</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Abacus</td>
              <td><%= @mn_roi.round(2) %></td>
              <td><%= @mn_total %></td>
              <td><%= @mn_stable %></td>
              <td><%= @mn_enabled %></td>
            </tr>
          </tbody>
        </table>